server:
  port: 8010
spring:
  application:
    name: microservice-cunsumer-movie

feign:
  hystrix:
    enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true   #将自己的ip注册到Eureka Server。false表示注册微服务所在操作系统的hostname到Eureka Server